<h2>Success- alert works with warning alert</h2>
<!-- <li>{{ element.name }}</li>
<li>{{ element.age }}</li>
<li>{{ element.height }}</li> -->
<!--
<app-warning-alert></app-warning-alert> wont work as you are alling this from success as well
-->
<p>Enter New Server Name</p>

<input type="text" class="form-control" [(ngModel)]="newServername" />

<input type="text" class="form-control" [(ngModel)]="newServerContent" />

<button class="btn-primary" (click)="onClickNotify()">Add to Parent</button>

<button class="btn-primary" (click)="onClickAddServer()">Add to Array</button>

<!-- <li *ngFor="let se of serverElements">
  <b> {{ se.name }} </b>
</li> -->
<p>Displaying data from the array</p>

<div class="panel panel-default">
  <div class="panel-heading">{{ elementone.name }}</div>
  <div class="panel-body">
    <p>
      <strong *ngIf="elementone.type === 'server'" style="color: tomato">{{
        elementone.content
      }}</strong>
    </p>
    <p>
      <em *ngIf="elementone.type === 'blueprint'" style="color:yellow">{{
        elementone.content
      }}</em>
    </p>
  </div>
</div>
