<h2>Success- alert works !</h2>
<!-- <li>{{ element.name }}</li>
<li>{{ element.age }}</li>
<li>{{ element.height }}</li> -->
<!--
<app-warning-alert></app-warning-alert> wont work as you are alling this from success as well
-->

<!-- <li *ngFor="let se of serverElements">
  <b> {{ se.name }} </b>
</li> -->

<div class="panel panel-default">
  <div class="panel-heading">{{ elementone.name }}</div>
  <div class="panel-body">
    <p>
      <strong *ngIf="elementone.type === 'server'" style="color: tomato">{{
        elementone.content
      }}</strong>
    </p>
    <p>
      <em *ngIf="elementone.type === 'blueprint'" style="color:yellow">{{
        elementone.content
      }}</em>
    </p>

    <p>
      <strong
        >This is our Input() data which I received from Parent -->
        {{ getFromParent }}
      </strong>
    </p>
  </div>
</div>
