<p>servers page works!</p>

<!-- <input
  type="text"
  class="form form-control"
  (input)="onUpdateServerName($event)"
/> -->

<input type="text" class="form-control" [(ngModel)]="serverName" />

<!-- <p>ng model name is {{ serverName }}</p> -->

<button class="btn btn-primary" (click)="onCreateServer()">
  Add Server
</button>

<!-- <p [innerText]="allowNewServers"></p> -->

<!-- <p *ngIf="allowNewServers">Here is the created Server {{ serverName }}</p> -->

<!-- <p>solving --- example</p> -->

<!-- <input type="text" class="form form-input" [(ngModel)]="userName" />

<br /> -->

<!-- <button
  class="btn btn-primary"
  [disabled]="userName === ''"
  (click)="userName = ''"
>
  Reset
</button> -->

<!-- <p>{{ userName }}</p> -->



<p>App -Server module</p>
<app-server></app-server>

