<p>servers page works!</p>

<!-- <input
  type="text"
  class="form form-control"
  (input)="onUpdateServerName($event)"
/> -->

<!-- <input type="text" class="form-control" [(ngModel)]="serverName" /> -->

<!-- <p>ng model name is {{ serverName }}</p> -->

<!-- <button class="btn btn-primary" (click)="onCreateServer()">
  Add Server
</button> -->

<!-- <p [innerText]="allowNewServers"></p> -->
<br />

<!-- <p *ngIf="allowNewServers">Here is the created Server {{ serverName }}</p> -->

<!-- <p>Available Servers</p>

<li *ngFor="let server of servers">
  <b> {{ server }} </b>
</li> -->

<!-- <p>solving --- example</p> -->

<!-- <input type="text" class="form form-input" [(ngModel)]="userName" />

<br /> -->

<!-- <button
  class="btn btn-primary"
  [disabled]="userName === ''"
  (click)="userName = ''"
>
  Reset
</button> -->

<!-- <p>{{ userName }}</p> -->
<br />

<!-- <p>It's the challenge</p> -->
<!-- <button class="btn btn-warning" (click)="toggleP(); logEvents($event)">
  Display Details
</button> -->

<!-- <p *ngIf="!showParagrah">paragraph to show</p> -->
<!-- <div
  *ngFor="let x of eventlog; let i = index"
  [ngStyle]="{ backgroundColor: i > 4 ? 'blue' : 'transparent' }"
  [ngClass]="{ 'white-class': i > 4 }"
>
  {{ x }} -->
<!-- </div> -->

<p>App -Server module</p>

<app-server></app-server>
