<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>Hi Sri we are in the App-Component</h2>
      <hr />
      <h1>{{ testName }} is our test name</h1>
      <app-servers> </app-servers>
      <!-- <app-success-alert
        (exampleOutput)="exampleTestName($event)"
      ></app-success-alert> -->
      <app-success-alert
        *ngFor="let se of serverElements"
        [elementone]="se"
      ></app-success-alert>

      <app-warning-alert
        (serverCreated)="onClickAddServer($event)"
        (blueprintCreated)="onClickAddblueprint($event)"
        (test)="onClickTest($event)"
      ></app-warning-alert>

      <li *ngFor="let se of serverElements">
        <b> {{ se.name }} </b>
        <b> {{ se.type }} </b>
      </li>
    </div>
  </div>
</div>
