<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>Hi Sri we are in the App-Component</h2>
      <hr />
      <h1>{{ testName }} is our test name</h1>
      <app-servers> </app-servers>
      <!-- <app-success-alert
        (exampleOutput)="exampleTestName($event)"
      ></app-success-alert> -->
      <app-success-alert
        *ngFor="let se of serverElements"
        [elementone]="se"
        [getFromParent]="name"
      >
        <p>
          <strong *ngIf="se.type === 'server'" style="color: tomato">{{
            se.content
          }}</strong>
        </p>
        <p>
          <em *ngIf="se.type === 'blueprint'" style="color:yellow">{{
            se.content
          }}</em>
        </p>
      </app-success-alert>

      <app-warning-alert
        (serverCreated)="onClickAddServer($event)"
        (blueprintCreated)="onClickAddblueprint($event)"
        (test)="onClickAddTest($event)"
      ></app-warning-alert>

      <li *ngFor="let se of serverElements">
        <b> {{ se.name }} </b>
        <b> {{ se.type }} </b>
      </li>
      <hr />
      <app-revise-inline-directives></app-revise-inline-directives>
      <p appBetterHighlight>Checking on App-better-highlight</p>
    </div>
  </div>
</div>
